<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center justify-items-end">
    <div class="max-w-prose bg-base-100 rounded-md" data-controller="screener">
      <div class="flex flex-col w-full">
        <h2 class="text-3xl font-bold"><%= @screener.full_name %></h2>

        <input type="hidden"
               name="screener_id"
               data-screener-target="screenerId"
               value="<%= @screener.id %>"/>
        <% @screener.content.sections.each do |section| %>
          <h3 class="text-2xl font-bold"><%= section.title %></h2>
          <progress class="progress progress-primary w-full"
                    data-screener-target="progressBar"></progress>

          <div class="divider"></div>

          <div class="stack">
            <% section.questions.each do |question| %>
              <input type="hidden"
                      name="questions[]"
                      data-screener-target="question"
                      data-question-text="<%=question.title%>"
                      data-question-id="<%=question.question_id%>"/>
            <% end %>
            <div class="text-center border border-base-content card w-full bg-base-100">
              <div class="card-body">
                <p data-screener-target="questionText">
                </p>
              </div>
            </div>
          </div>

          <div class="divider"></div> 

          <% section.answers.each do |answer| %>
            <div class="form-control">
              <label class="label cursor-pointer">
                <span class="label-text"><%= answer.title %></span>
                <input type="radio"
                       name="radio-answer"
                       class="radio radio-primary checked:bg-black-500"
                       data-screener-target="answer"
                       data-action="input->screener#selectAnswer"
                       value="<%= answer.value %>"/>
              </label>
            </div>
          <% end %>

          <div class="">
            <div class="flex btn-group justify-center">
              <button class="btn btn-primary w-1/4"
                      data-action="screener#previous"
                      data-screener-target="previousButton">
                Back
              </button>
              <button class="btn btn-primary w-1/4"
                      data-action="screener#next"
                      data-screener-target="nextButton">
                Next
              </button>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
